.container {
    display: flex;
    gap: 70px;
    align-items: center;
    padding: 27px;
    padding-right: 50px;
    padding-left: 50px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.content {
    display: flex;
    gap: 7px;
    flex-direction: column;
    width: 57vw;

}

.heading {
    font-size: 44px;
    font-weight: 700;
    letter-spacing: 3px;
}

.para {
    font-size: 20px;
    font-weight: 400;
    line-height: 2;
    word-wrap: break-word;
    letter-spacing: 1.5px;

}

.logo_img {
    border: solid 7px white;
    border-radius: 999px;
    padding: 7px;
    background-color: white;

}

.try_HowVH {
    padding-top: 10px;
}