
*{
  box-sizing: 'border-box';
  padding:0px;
  margin:0px;
  font-family: 'Secular One', sans-serif;
}

main{
  display: flex;
  flex-direction: column;
  background-color: grey;
  min-height: 100vh;
  min-width: 100vw;

}
