.navbar {
    display: flex;
    box-sizing: border-box;
    background-color: rgb(234, 255, 0);
    /* justify-content: center; */
    align-items: center;
    justify-content: space-between;
}

.logo {
    /* display: flex; */
    cursor: pointer;
    box-sizing: border-box;
    /* background-color: blueviolet; */
    /* flex: 1; */
    padding: 10px 0px 0px 100px;
}

.img {

    border-radius: 50%;
    border: 2px solid chocolate;
    border:0px solid white;
}

.navItems {
    display: flex;
    /* background-color: chartreuse; */
    justify-content: space-between;
    align-items: center;
}
.navItems a{
    font-size: 18px;
    text-align: right;
    text-decoration: none;
    color: white;
    /* justify-content:space-between; */
    padding-right: 80px;
}